.user{
    // border: 2px solid red;
    // display: flex;
    // flex-direction: column;
    font-size: 20px;
}

.image-name{
    display: flex;
    justify-content: space-evenly;
}

.profile{
    margin-bottom: 20px;
}