.user{
    // border: 2px solid red;
    // display: flex;
    // flex-direction: column;
    font-size: 20px;
}

.title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.address-orders-billingAddress-div{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    
}
.image-name{
    display: flex;
    justify-content: space-evenly;
}

.profile{
    margin-bottom: 20px;
}